/* template */

  body {
    /* font-family: Arial, sans-serif; */
    font-family: "Roboto Mono", monospace;
    margin: 0;
    padding: 0;
    font-size: 1em;
  }
  /* body {
    flex-direction: column;
    align-items: center;
  } */
  
  header {
    background-color: #f0f0f0;
    color: #000000;
    padding: 1em;
    text-align: center;
    font-size: 1em;
  }
  
  /* Flexbox layout for header and logo */
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f0; /* Optional background color for the top section */
    padding: 10px; /* Optional padding for the top section */
  }
  
  header h1 {
    background-color: #f0f0f0 ;
    margin: 5;
  }

  .church-logo {
    position: absolute;
    top: 0.1em;
    right: 1em;
    padding-left: 1em;
  }

  .church-logo img {
    max-width: 100%;
    height: auto;
    display: block; /* Display the image as a block-level element */
  }

  /* Reset default list styles */
  /* Style the navigation links */
  nav li {
    display: inline-block; /* Display the list items horizontally */
    margin-right: 2em; /* Add spacing between the links */
  }
  
  nav li:last-child {
    margin-right: 0; /* Remove right margin from the last link */
  }
  
  nav a {
    text-decoration: none; /* Remove underline from the links */
    color: #333; /* Set link color */
    padding: 0.1em; /* Add padding around the links */
    transition: background-color 0.3s ease; /* Add a smooth transition effect */
  }
  
  /* Change link color on hover */
  nav a:hover {
    background-color: #f0f0f0;
    color: #000;
  }

  .navbar {
    background-color: #a95f5f;
    color: #fff;
    padding: 0.1em;
    text-align: left;
  }
  .navbar-container {
    clear: both; /* Ensure the container starts on a new line below the header */
  }
  
  main {
    padding-top: 0.5em;
    padding-left: 1em;
    padding-right: 2em;
    font-size: 1em;
  }

  /* Responsive image */
  img {
    max-width: 100%; /* The image will not exceed the container width */
    height: auto; /* Maintains the aspect ratio of the image */
  }

  /* Styles for the scrollable section */
  .scrollable-section {
    height: 50%; /* Set the height of the section */
    overflow-y: auto; /* Allow vertical scrolling */
    background-color: #ffffff; /* Optional background color for the section */
    padding: 10px; /* Optional padding for the section */
    flex: 1;
  }
  
  /* Optional styles for the content within the section */
  .scrollable-section h2 {
    margin-bottom: 10px;
  }
  
  .scrollable-section p {
    margin-bottom: 20px;
  }

  .element-with-padding {
    padding: 10px; /* Add 10 pixels of padding on all sides */
  }

  .custom-list {
    padding: 1em;
  }

  .qr-code {
    width: 50%;
    height: auto;
  }
  
  footer {
    background-color: #ffffff;
    color: #f1f1f1;
    text-align: center;
    height: 1em;
    bottom: 0;
    width: 100%;

    font-size: 0.5em; /* Set the font size to make it super small */
    padding: 1.2em; /* Optional padding for the footer */

  }

  /* footer p {
    font-size: 0.5em;
  } */
  

 /* Media query for smaller screens (e.g., mobile devices) */
@media (device-width: 375px) {
    /* Adjust styles for smaller screens here */
    header {
      padding: 10px; /* Reduce header padding for smaller screens */
      font-size: 0.4em;
      text-align: left;
    }
    .header-container {
        flex-direction: column; /* Stack elements vertically on smaller screens */
    }
  
    .image-container {
      margin-top: 10px; /* Reduce margin for smaller screens */
    }
  }