/* template */

  body {
    /* font-family: Arial, sans-serif; */
    font-family: "Roboto Mono", monospace;
    margin: 0;
    padding: 0;
    font-size: 1em;
  }
  /* body {
    flex-direction: column;
    align-items: center;
  } */
  
  header {
    background-color: #ffffff;
    color: #000000;
    padding: 1em;
    text-align: center;
    font-size: 1em;
  }
  
  header h1 {
    background-color: #ffffff ;
    margin: 5;
  }

  .church-logo {
    position: absolute;
    top: 0.5em;
    right: 2em;
    padding-left: 1em;
  }

  /* Reset default list styles */
  /* Style the navigation links */
  nav li {
    display: inline-block; /* Display the list items horizontally */
    margin-right: 2em; /* Add spacing between the links */
  }
  
  nav li:last-child {
    margin-right: 0; /* Remove right margin from the last link */
  }
  
  nav a {
    text-decoration: none; /* Remove underline from the links */
    color: #333; /* Set link color */
    padding: 0.1em; /* Add padding around the links */
    transition: background-color 0.3s ease; /* Add a smooth transition effect */
  }
  
  /* Change link color on hover */
  nav a:hover {
    background-color: #f0f0f0;
    color: #000;
  }

  .navbar {
    background-color: #a95f5f;
    color: #fff;
    padding: 0.1em;
    text-align: left;
  }
  .navbar-container {
    clear: both; /* Ensure the container starts on a new line below the header */
  }
  
  main {
    padding-top: 0.5em;
    padding-left: 1em;
    font-size: 1em;
  }
  
  footer {
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    height: 1em;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  footer p {
    font-size: 0.5em;
  }
  